<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Handle requests for pages that exist as .html files
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME}.html -f
  RewriteRule ^(.*)$ $1.html [L]

  # Handle 404 - make sure your 404.html from Next.js is at the root of your /out folder
  ErrorDocument 404 /404.html
</IfModule>
